In [75]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib as plt2
import seaborn as sns 
import math
import sklearn

train = pd.read_csv('train.csv')
train_copy = train
identify = train.Id
train_copy

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [76]:
train = train.drop(['Id'], axis=1) if 'Id' in train.columns else train_df
len(train)

1460

In [77]:
train.isna().sum()[train.isna().sum() > 0]

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [110]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

train.Neighborhood= le.fit_transform(train.Neighborhood)
train.Condition1= le.fit_transform(train.Condition1)
train.Condition2= le.fit_transform(train.Condition2)
train.Functional= le.fit_transform(train.Functional)
train.MSZoning= le.fit_transform(train.MSZoning)
train.Street= le.fit_transform(train.Street)
train.LotShape= le.fit_transform(train.LotShape)
train.LandContour= le.fit_transform(train.LandContour)
train.Utilities= le.fit_transform(train.Utilities)
train.LotConfig= le.fit_transform(train.LotConfig)
train.LandSlope= le.fit_transform(train.LandSlope)
train.SaleType= le.fit_transform(train.SaleType)
train.SaleCondition= le.fit_transform(train.SaleCondition)
train.BldgType= le.fit_transform(train.BldgType)
train.HouseStyle= le.fit_transform(train.HouseStyle)
train.RoofStyle= le.fit_transform(train.RoofStyle)
train.RoofMatl= le.fit_transform(train.RoofMatl)
train.Exterior1st= le.fit_transform(train.Exterior1st)
train.Exterior2nd= le.fit_transform(train.Exterior2nd)
train.ExterQual= le.fit_transform(train.ExterQual)
train.ExterCond= le.fit_transform(train.ExterCond)
train.Foundation= le.fit_transform(train.Foundation)
train.Heating= le.fit_transform(train.Heating)
train.HeatingQC= le.fit_transform(train.HeatingQC)
train.CentralAir= le.fit_transform(train.CentralAir)
train.KitchenQual= le.fit_transform(train.KitchenQual)
train.PavedDrive= le.fit_transform(train.PavedDrive)
train.dropna(axis=1,inplace = True)

train

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,3,8450,1,3,3,0,4,0,5,...,0,0,0,0,0,2,2008,8,4,208500
1,20,3,9600,1,3,3,0,2,0,24,...,0,0,0,0,0,5,2007,8,4,181500
2,60,3,11250,1,0,3,0,4,0,5,...,0,0,0,0,0,9,2008,8,4,223500
3,70,3,9550,1,0,3,0,0,0,6,...,272,0,0,0,0,2,2006,8,0,140000
4,60,3,14260,1,0,3,0,2,0,15,...,0,0,0,0,0,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,3,7917,1,3,3,0,4,0,8,...,0,0,0,0,0,8,2007,8,4,175000
1456,20,3,13175,1,3,3,0,4,0,14,...,0,0,0,0,0,2,2010,8,4,210000
1457,70,3,9042,1,3,3,0,4,0,6,...,0,0,0,0,2500,5,2010,8,4,266500
1458,20,3,9717,1,3,3,0,4,0,12,...,112,0,0,0,0,4,2010,8,4,142125
1459,20,3,9937,1,3,3,0,4,0,7,...,0,0,0,0,0,6,2008,8,4,147500

In [112]:
from sklearn.model_selection import train_test_split

X = train.drop('SalePrice',axis = 1)
y = train.SalePrice

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state = 42)

In [113]:
X_train1 = X_train[['Neighborhood', 'GrLivArea', 'OverallCond', 'YearBuilt',
                  'Functional','LotArea','ExterCond']]

X_test1 = X_train[['Neighborhood', 'GrLivArea', 'OverallCond', 'YearBuilt',
                  'Functional','LotArea','ExterCond']]

y_train1 = y_train

y_test1 = y_test

In [114]:
X_train1

,Neighborhood,GrLivArea,OverallCond,YearBuilt,Functional,LotArea,ExterCond
135,14,1682,6,1970,6,10400,4
1452,7,1072,5,2005,6,3675,4
762,21,1547,5,2009,6,8640,4
932,21,1905,5,2006,6,11670,4
435,5,1661,6,1996,6,10667,4
...,...,...,...,...,...,...,...
1095,5,1314,5,2006,6,9317,4
1130,18,1981,3,1928,3,7804,4
1294,7,864,7,1955,6,8172,4
860,6,1426,8,1918,6,7642,4
1126,0,1555,5,2007,6,3684,4

In [115]:
from sklearn.linear_model import LinearRegression

linearmodel1 = LinearRegression().fit(X_train1,y_train1)

In [117]:
coeff = linearmodel1.score(X_train1, y_train1)
print('Coefficient of Determination for Experiment 1:', coeff)

Coefficient of Determination for Experiment 1: 0.6760401951362368